    
// .ministries-canvassed-div{
// }

.ministries-canvassed{

    display: flex;
    justify-content: center;

    table{
        min-width: 60%;
    }
    
    td {
        width: auto;
    }
    
    td.row-width {
        width: 0%;
        white-space: nowrap;
    }
}

.ministry-name{
    font-weight: bold;
}

.ministry-requestid{
    cursor: pointer;
    text-decoration: underline;
}