/* add css module styles here (optional) */

.container {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 20px;
}

.heading {
  color: #FFF;
  font-size: 16px !important;
  font-weight: bold !important;
}

.accordionSummary {
  flex-direction: row-reverse;
}

.formLabel {
  padding: 15px 5px;
  font-size: 15px;
  font-weight: 600;
}

.buttonContainer {
  padding-left: 0px !important;
}

.saveButton {
  margin: 0;
  width: 100%;
  background-color: #38598A !important;
  color: #FFFFFF !important;
  font-family: BCSans-Bold, sans-serif !important;
}

.floatRight {
  cursor: pointer;
  display: block;
  z-index: 3;
  position: absolute;
  right: 37px;
}

.locating {
  top: 345px;
}

.producing {
  top: 465px;
}

.preparing {
  top: 615px;
}

.volume {
  top: 735px;
}

.hideContent {
    display: none;
}

.toolTipContent ul {
  padding-left: 20px;
}