.attachment-modal-message {
    text-align: center
}

.add-attachment-modal-title {
    padding-bottom: 0px !important;
}

.response-title-field{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-left: 3px !important;
    width: 90% !important;
}