notification-manager/env/*
request-management-api/__pycache__/*.*
request-management-api/env/*
request-management-api/env/Lib/*
request-management-api/src/request_api/__pycache__/*
request-management-api/request_api/__pycache__/*
request-management-api/request_api/__pycache__/*.pyc
request-management-api/request_api/utils/__pycache__/*
request-management-api/request_api/__pycache__/*
request-management-api/request_api/__pycache__/__init__.cpython-38.pyc
request-management-api/request_api/resources/__pycache__/*.*
request-management-api/request_api/__pycache__/*.*
request-management-api/request_api/__pycache__/__init__.cpython-38.pyc
request-management-api/request_api/__pycache__/__init__.cpython-38.pyc
request-management-api/request_api/__pycache__/__init__.cpython-38.pyc
request-management-api/request_api/__pycache__/__init__.cpython-38.pyc
request-management-api/request_api/__pycache__/__init__.cpython-38.pyc
request-management-api/request_api/models/__pycache__/*.*
request-management-api/migrations/__pycache__/*.*
request-management-api/.env
notification-manager/env/*
*.pyc
*/__pycache__/*
request-management-api/request_api/__pycache__/*.pyc
request-management-api/request_api/__pycache__/__init__.cpython-38.pyc
request-management-api/request_api/__pycache__/__init__.cpython-38.pyc
request-management-api/request_api/__pycache__/__init__.cpython-38.pyc
request-management-api/request_api/logs/app.log
request-management-api/request_api/__pycache__/__init__.cpython-38.pyc
request-management-api/request_api/__pycache__/__init__.cpython-38.pyc
request-management-api/request_api/logs/*
request-management-api/request_api/__pycache__/__init__.cpython-38.pyc

foi-web/forms-flow-ai/forms-flow-web/node_modules


.vscode/settings.json
request-management-api/request_api/__pycache__/__init__.cpython-38.pyc
request-management-api/request_api/__pycache__/__init__.cpython-38.pyc
request-management-api/request_api/__pycache__/__init__.cpython-38.pyc
request-management-api/request_api/__pycache__/__init__.cpython-38.pyc
request-management-api/request_api/__pycache__/__init__.cpython-38.pyc

apps/forms-flow-ai/forms-flow-web/node_modules
apps/forms-flow-ai/forms-flow-web/package-lock.json
forms-flow-web/node_modules
forms-flow-web/build
forms-flow-web/package-lock.json
request-management-api/request_api/__pycache__/__init__.cpython-38.pyc
request-management-api/request_api/__pycache__/__init__.cpython-38.pyc

request-management-api/src
request-management-api/request_api/__pycache__/__init__.cpython-38.pyc
request-management-api/request_api/__pycache__/__init__.cpython-38.pyc
request-management-api/request_api/__pycache__/__init__.cpython-38.pyc

.env
request-management-api/request_api/__pycache__/__init__.cpython-38.pyc
request-management-api/request_api/__pycache__/__init__.cpython-38.pyc

apps/forms-flow-ai/rc4.0.2
apps/forms-flow-ai/rc4.0.2/*
request-management-api/.localenv
apps/forms-flow-ai/forms-flow-web/forms-flow-util

request-management-api/request_api/__pycache__/__init__.cpython-38.pyc
request-management-api/request_api/__pycache__/__init__.cpython-38.pyc
request-management-api/request_api/__pycache__/__init__.cpython-38.pyc
request-management-api/request_api/__pycache__/__init__.cpython-38.pyc
request-management-api/request_api/__pycache__/__init__.cpython-38.pyc
request-management-api/request_api/__pycache__/__init__.cpython-38.pyc
axisintegrationapi/MCS.FOI.AXISIntegration/.vs/
axisintegrationapi/MCS.FOI.AXISIntegration/.vs/*
axisintegrationapi/MCS.FOI.AXISIntegration/*/bin/*
axisintegrationapi/MCS.FOI.AXISIntegration/*/obj/*
axisintegrationapi/MCS.FOI.AXISIntegration/TestResults/*
axisintegrationapi/MCS.FOI.AXISIntegration/MCS.FOI.AXISIntegrationWebAPI/.config/dotnet-tools.json
axisintegrationapi/MCS.FOI.AXISIntegration/MCS.FOI.AXISIntegration.DAL/bin/
axisintegrationapi/MCS.FOI.AXISIntegration/MCS.FOI.AXISIntegration.DAL/bin/*
axisintegrationapi/MCS.FOI.AXISIntegration/MCS.FOI.AXISIntegration.DAL/obj/
axisintegrationapi/MCS.FOI.AXISIntegration/MCS.FOI.AXISIntegration.DAL/obj/*
axisintegrationapi/MCS.FOI.AXISIntegration/MCS.FOI.AXISIntegration.DAL.UnitTests/bin/*
axisintegrationapi/MCS.FOI.AXISIntegration/MCS.FOI.AXISIntegration.DAL.UnitTests/bin/
axisintegrationapi/MCS.FOI.AXISIntegration/MCS.FOI.AXISIntegrationWebAPI.UnitTests/obj/
axisintegrationapi/MCS.FOI.AXISIntegration/MCS.FOI.AXISIntegrationWebAPI/bin/*
axisintegrationapi/MCS.FOI.AXISIntegration/MCS.FOI.AXISIntegrationWebAPI/obj/*
axisintegrationapi/MCS.FOI.AXISIntegration/MCS.FOI.AXISIntegrationWebAPI/*.user
.gitignore



axisintegrationapi/MCS.FOI.AXISIntegration/MCS.FOI.AXISIntegrationWebAPI/Properties/PublishProfiles/FolderProfile.pubxml
axisintegrationapi/MCS.FOI.AXISIntegration/MCS.FOI.AXISIntegrationWebAPI/Properties/PublishProfiles/FolderProfile.pubxml.user
apps/
datamigrations/FOIMOD.CFD.ETL.DataMigration/.vs/FOIMOD.CFD.ETL.DataMigration/v16/.suo

datamigrations/FOIMOD.CFD.ConsoleApp.DocMigration/*/bin/*
datamigrations/FOIMOD.CFD.DocMigration.AXIS.DAL/*/bin/*
datamigrations/FOIMOD.CFD.ConsoleApp.DocMigration/.vs/*
datamigrations/FOIMOD.CFD.ConsoleApp.DocMigration/FOIMOD.CFD.DocMigration.BAL/obj/*
datamigrations/FOIMOD.CFD.ConsoleApp.DocMigration/FOIMOD.CFD.DocMigration.BAL/bin/*
datamigrations/FOIMOD.CFD.ConsoleApp.DocMigration/FOIMOD.CFD.DocMigration.FOIFLOW.DAL/obj/*

datamigrations/FOIMOD.CFD.ConsoleApp.DocMigration/FOIMOD.CFD.DocMigration.DAL/obj/*
datamigrations/FOIMOD.CFD.ConsoleApp.DocMigration/FOIMOD.CFD.DocMigration.Models/obj/*
datamigrations/FOIMOD.CFD.ConsoleApp.DocMigration/FOIMOD.CFD.DocMigration.S3Uploader/obj/*
datamigrations/FOIMOD.CFD.ConsoleApp.DocMigration/FOIMOD.CFD.DocMigration.Utils/obj/*
datamigrations/FOIMOD.CFD.ConsoleApp.DocMigration/FOIMOD.CFD.DocMigration.Utils.UnitTests/obj/*
datamigrations/FOIMOD.CFD.ConsoleApp.DocMigration/FOIMOD.CFD.ConsoleApp.DocMigration/obj/*
datamigrations/FOIMOD.CFD.ConsoleApp.DocMigration/FOIMOD.CFD.DocMigration.AXIS.DAL.UnitTests/obj/*
datamigrations/FOIMOD.CFD.ConsoleApp.DocMigration/FOIMOD.CFD.DocMigration.AXIS.DAL.UnitTests/Debug/*
datamigrations/FOIMOD.CFD.ConsoleApp.DocMigration/FOIMOD.CFD.DocMigration.FOIFLOW.DAL.Tests/obj/*
datamigrations/FOIMOD.CFD.ConsoleApp.DocMigration/FOIMOD.CFD.ConsoleApp.DocMigration/appsettings.dev.json
datamigrations/FOIMOD.CFD.ConsoleApp.DocMigration/*/obj/*
datamigrations/FOIMOD.CFD.ConsoleApp.DocMigration/*/bin/*

datamigrations/FOIMOD.CFD.ConsoleApp.DocMigration/FOIMOD.CFD.DocMigration.OCR/obj/*
datamigrations/FOIMOD.CFD.ConsoleApp.DocMigration/FOIMOD.CFD.DocMigration.OCR/bin/*
datamigrations/FOIMOD.CFD.ConsoleApp.DocMigration/FOIMOD.CFD.DocMigration.OCR.Tests/obj/*
datamigrations/FOIMOD.CFD.ConsoleApp.DocMigration/FOIMOD.CFD.DocMigration.OCR.Tests/bin/*
/datamigrations/FOIMOD.CFD.ConsoleApp.DocMigration/FOIMOD.CFD.DocMigration.Utils.UnitTests/appsettings.dev.json

