###############################################################################
#  This file is a sample file, for Docker compose to work with the settings   #
#  rename this file to .env                                                   #
#  Uncomment the variables if any changes from the default values             #
###############################################################################






#++++++++++++++++--- FORM.IO ENV Variables - START ---+++++++++++++++++++++++++#

##URL of forms-flow-forms
FORMIO_DEFAULT_PROJECT_URL=http://{your-ip-address}:3001
#FORMIO_JWT_SECRET=--- change me now ---
 

    #-----Environment Variables for FormIO Datastore-----#

##Mongo Root Username. Used on installation to create the database.Choose your own
#FORMIO_DB_USERNAME=admin
##Mongo Root Password. Used on installation to create the database.Choose your own
#FORMIO_DB_PASSWORD=changeme
##Mongo Database  Name. Used on installation to create the database.Choose your own
#FORMIO_DB_NAME=formio

    #---Environment Variables for FormIO Server root-admin credential--#

##form.io admin login
FORMIO_ROOT_EMAIL=admin@example.com
##form.io admin password
FORMIO_ROOT_PASSWORD=changeme

#++++++++++++++++--- FORM.IO ENV Variables - END ---+++++++++++++++++++++++++#




#++++++++++++++++--- Keycloak ENV Variables - START ---+++++++++++++++++++++++++#

    #----Environment Variables for Keycloak--------#

##The Keycloak realm to use
#KEYCLOAK_URL_REALM=forms-flow-ai
##Client Secret of Camunda client in realm
#KEYCLOAK_BPM_CLIENT_ID=forms-flow-bpm
##Client ID for formsflow.ai to register with Keycloak
#KEYCLOAK_WEB_CLIENT_ID=forms-flow-web
##URL to your Keycloak server
KEYCLOAK_URL=http://{your-ip-address}:8080
##Client Secret of Camunda client in realm
#KEYCLOAK_BPM_CLIENT_SECRET=e4bdbd25-1467-4f7f-b993-bc4b1944c943

#++++++++++++++++--- Keycloak ENV Variables - END ---+++++++++++++++++++++++++#




#++++++++++++++++--- formsflow.ai forms ENV Variables - START ---+++++++++++++++++++++++++#

    #----Mapping of application roles from keycloak--------#
##The role name used for client users
#CLIENT_ROLE=formsflow-client
##The role name used for designer users
#DESIGNER_ROLE=formsflow-designer
##The role name used for staff/reviewer users
#REVIEWER_ROLE=formsflow-reviewer

    #----Mapping of application role id from FORMIO server--------#
##form.io client role Id
CLIENT_ROLE_ID={form.io client role Id}
##form.io administrator role Id
DESIGNER_ROLE_ID={form.io administrator role Id}
##form.io reviewer role Id
REVIEWER_ROLE_ID={form.io reviewer role Id}
##form.io anonymous role Id
ANONYMOUS_ID={form.io anonymous role Id}
##User forms form-Id
USER_RESOURCE_ID={User forms form-Id}

#++++++++++++++++--- formsflow.ai forms ENV Variables - END ---+++++++++++++++++++++++++#


#++++++++++++++++--- formsflow.ai Python Webapi ENV Variables - START ---+++++++++++++++++++++++++#

    #----Environment variables for adaptive tier (Python Webapi) Datastore----#
##JDBC DB Connection URL for formsflow.ai
#FORMSFLOW_API_DB_URL=postgresql://postgres:changeme@forms-flow-webapi-db:5432/webapi
##formsflow.ai database postgres user
#FORMSFLOW_API_DB_USER=postgres
##formsflow.ai database postgres password
#FORMSFLOW_API_DB_PASSWORD=changeme
##formsflow.ai database name
#FORMSFLOW_API_DB_NAME=webapi

    #----Integration variable settings----#
##Define project level configuration,  possible values development,test,production
#NODE_ENV=development
#Application_Name
APPLICATION_NAME=formsflow.ai
#Custome_URL
#WEB_BASE_CUSTOM_URL=
#Role level permission defining
USER_ACCESS_PERMISSIONS={"accessAllowApplications":false,"accessAllowSubmissions":false}
##Camunda Rest API URI
CAMUNDA_API_URL=http://{your-ip-address}:8000/camunda
##web Api End point
FORMSFLOW_API_URL=http://{your-ip-address}:5000
##web API CORS origins
#FORMSFLOW_API_CORS_ORIGINS=*

FOI_REQ_MANAGEMENT_API_URL=http://localhost:15000

#++++++++++++++++--- formsflow.ai Python Webapi ENV Variables - END ---+++++++++++++++++++++++++#

