.actionsBtn {
  background-color: transparent;
  border: none;
  padding: 6px 12px;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    outline:none;
    background-color: #dbdbdb5d;
  }
  &:focus {outline:0;}        
}