@font-face {
    font-family: "BCSans-Regular";
    src: url("../../../assets/FOI/fonts/BCSans-Regular.woff") format('woff');
}

@font-face {
    font-family: "BCSans-Bold";
    src: url("../../../assets/FOI/fonts/BCSans-Bold.woff") format('woff');
}

.foi-select-fieldset {
    border: 1px solid !important;
    border-radius: 5px;
    display: inline-flex;
    // width: 50%;
    width: -webkit-fill-available;
    height: 50px;
    margin: 10px;
}
.foi-select-label {
    font-family: "BCSans-Regular" !important;
    font-size: 12px !important;
    color: black !important;
}

.foi-mandatory-legend {
    font-family: "BCSans-Bold";
    font-size: 12px;
    width: unset;
}

.MuiInput-underline:before {
    border-bottom: none !important;
}

.MuiInput-underline:after {
    border-bottom: none !important;
}