#foi-status-dropdown {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

.foi-state-dropdown .MuiOutlinedInput-root {
    color: white;
} 

.foi-state-dropdown .MuiOutlinedInput-root .MuiSvgIcon-root {
    color: white;
} 
.foi-state-menuitem  {
    padding-left: 0px !important;
}
.foi-menuitem-span {
    width: 10px;
    height: 30px;
    display: inline-block;
    margin-right: 6px;
}

#foi-status-dropdown .foi-menuitem-span {
    display: none !important;
}

.unopened {
    background-color: #FAA915;
}

.intakeinprogress {
    background-color: #EC7D10;
}

.open {
    background-color: #00A676;
}

.redirect {
    background-color: #1B8103;
}

.callforrecords {
    background-color: #F25489;
}

.deduplication {
    background-color: #DD2255;
}

.feeestimate {
    background-color: #A0192F;
}

.onhold {
    background-color: #808080;
}

.harmsassessment {
    background-color: #B988D3;
}

.consult {
    background-color: #9448BC;
}

.ministrysignoff {
    background-color: #683286;
}

.recordsreview {
    background-color: #248BA8;
}

.response {
    background-color: #0A4454;
}

.closed {
    background-color: #000000;
}







