@font-face {
    font-family: "BCSans-Bold";
    src: url("../../../assets/FOI/fonts/BCSans-Bold.woff") format('woff');
  }
  
div .home-page {
    background-image: url('../../../assets/FOI/images/BC.bmp');
    height:60vh;
    min-height: 90vh;
    padding-top: 60px;    
    background-position: center;
    background-size: cover;
}

div .rounded-rectangle {
    font-family: 'BCSans-Bold';
    border-radius: 12px;
    background: #FFFF;
    margin: auto;
    width: 40%;
    height: 28%;
    margin-top: 200px;
}
div .login-container {
    padding: 6% 3% 5% 8%;   
  
}
div h1 {
    font-family: 'BCSans-Bold';    
    color: #494949;
    position: relative;
}

.login-btn {
    border: none;   
    background-color: #38598A !important;   
    font-family: 'BCSans-Bold';
    color: #FFFF; 
    margin-top: 10px;
    position: relative;
}


  

  