.oi-section{
    margin-top: 60px;
    margin-left: 1em;
    margin-right: 1em;
}

.oi-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.oi-assignment {
    min-width: 375px;
}