.oi-section{
    margin-top: 60px;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 60px
}

.oi-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.oi-assignment {
    min-width: 400px;
}

.oi-main-text {
    margin-top: 40px;
}