.accordionSummary {
    flex-direction: row-reverse;
  }
  
.contentStyle {
    margin: 0px 8px;
    font-size: 14px;
}

.labelText {
    padding: 5px 8px;
    font-size: 14px;
}

.checkboxStyle {
    padding: 5px 25px !important;
    position: relative;
    width: auto;
}

.labelBold {
    font-size: 15px;
    font-weight: 600;
    //margin: 15px 8px;
}

.textPadding {
    padding-bottom: 16px;
}