.accordionSummary {
    flex-direction: row-reverse;
  }
  
.formLabel {
    margin: 0px 8px;
    font-size: 13px;
}

.label-text {
    padding: 5px 8px;
    font-size: 14px;
}

.checkbox-style {
    padding-left: 25px !important;
    position: relative;
    padding: 2px;
}
