@font-face {
  font-family: "BCSans-Bold";
  src: url("../../../assets/FOI/fonts/BCSans-Bold.woff") format('woff');
}

header {
  background-color: #036;
  border-bottom: 2px solid #fcba19;
  padding-top:15px;
  color: #fff;
}
header h2 {
  font-family: 'BCSans-Bold';
  font-weight: 100 !important;
  color: #fff;
  margin-left: 40px;  
}

nav {
  background-color: #036 !important;
  border-bottom: 2px solid #fcba19;
  padding-top:15px;
  color: #fff;
}

nav h2 {
  font-family: 'BCSans-Bold';
  font-weight: 100 !important;
  color: #fff;
  margin-left: 40px;  
}

.banner-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.banner-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px; 
  margin-bottom: 20px;
  margin-right: 80px;
  font-family: 'BCSans-Bold';
  color: #fff;
}
.navbar-text {
  font-family: 'BCSans-Bold';  
  color: #fff !important;
  margin-right: 40px;
  margin-top: 10px; 
}

.bell-icon {
  margin-right: 40px;
  margin-top: 18px;
  
}

.signout-btn {
  border: none;
  background-color:  #036 !important;
  width: 120%;
  height: 100%;   
  font-family: 'BCSans-Bold';
  color: #FFFF;
  border-color: #FFFF !important;
  position: relative;
  margin-top: 8px;
}