@font-face {
    font-family: "BCSans-Bold";
    src: url("../../../assets/FOI/fonts/BCSans-Bold.woff") format('woff');
  }
  

.foi-menu-bar {
    background-color: #38598a;
    // width: -webkit-fill-available;
    // height: 90px;
    width: 800%;
    margin-top: 64px;
    height: auto;
  }
  
  .foi-home-menu {
    margin-left: 10%;
    margin-top: auto;
  }
  
  .foi-home-link {
    color: #fcba19; 
    border-bottom: 2px solid #fcba19;
  }
  
  .foi-search-button {
    background-color: #fcba19;
    
  }
  
  .foi-search-icon {
    color: #FFFFFF;
  }