
.axis-banner-div {
    font-size: 16px;
    color: #000000;

}

.axis-message {
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 4%;
    padding-right: 15px;
}

.axis-sync-date {
    float: right;
}