.footerstyle {
  background-color: #003366;
  color: #ffff;   
 position: relative!important;
}

.footerstyle a   {
// font-family: 'BCSans-Regular', sans-serif;
color: #ffff;
text-decoration: none;
font-size: small;

}
.footerstyle a:hover
{
color: #ffff;
text-decoration: none;
}

.footerstyle ul {
list-style: none;
padding-inline-start: unset;
}

.footerstyle li {
padding-top:3px;
padding-bottom: 3px;
}

.foi-footer-nav{   
  width: 100%;
}
.foi-footer-nav{
  background-color: #036 !important;
    
    padding: 20px 0 !important;
    color: #fff;
}

// nav {
//     background-color: #036 !important;
    
//     padding: 20px 0 !important;
//     color: #fff;
//   }
  
  nav h2 {
    font-family: 'BCSans-Bold', sans-serif !important;
    font-weight: 100 !important;
    color: #fff;
    margin-left: 40px;  
  }


/*  Mobile screens (phones, 500px and down) */
@media only screen and (max-width: 500px) {

.footerstyle {
    text-align: center;
    

}
.footerstyle a {
  font-size: 15px;
}

}
.foiContainer{
  margin: 0 8% !important;
  padding: 0 15px !important;
  display: block !important;
  > div {
    > div{
      padding: 0;
    }
  }
  max-width: none !important;
}
