.foiformcontent {
    display: inline-flex;  
    padding-top: 65px;
    position: relative;
 
    margin-left: 10%;
    margin-right: 10%;
  }
  .foitabbedContainer{
    display: inline-flex;  
    background-color: white;
}

  
  .leftpanelheader{
      display: inline-block;
  }

 

  .foi-review-container {
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100% !important;
  }

  .foitabheadercollection {
    width: fit-content;
    background-color: teal;
    height: auto;
    border-radius: 0px 30px 30px 0px!important;
    margin-bottom: auto;
    padding-bottom: 7%;
    min-width: 200px;
    padding-bottom: 15%;
    
  }

  .foileftpanelheader
  {
      padding-left: 12%;
      padding-top: 20%;
      padding-bottom: 30%;
  }

  .foileftpanelheader h1 {
        color: white;
  }

  

.tabcontent { 
    // This css class is temp. need to remove    
    width: 900px;
    height: 1000px!important;    
    display: inline-block;
}



.MuiBox-root {
    padding: 0px!important;
    
}
.MuiButtonBase-root{
    padding-right: 0px!important;
}
.MuiTab-wrapper{
    padding-right: 10px!important;
    text-transform: none;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    align-items: unset!important;
    padding-left: 15px;
}
.MuiTabs-vertical {    
    width: auto;
    color: white;
    border-style: none!important;
}

.Mui-selected {
    background-color: white!important;
    color: teal!important;
    margin-left: 10px!important;
    border:0px!important;
    border-style: none!important;
}

.MuiTabs-indicator {
    background-color: transparent!important;
}