

.foi-bottom-button-group {
    display: flex;
    margin-bottom: 100px;
}

.btn-bottom {
    margin-right: 20px;
    margin-top: 10px;
    position: relative;
    width: 30%;
    font-family: "BCSans-Bold", sans-serif!important;
}