#RequestDetails, #CfrFormExport {
    padding-bottom: 2%;
    margin-bottom: 2%;
    width: 100%;
}
#RequestDetails .foi-request-description-history {
    display: none;
}
#RequestDetails .btn-description-history {
    display: none !important;
}
#RequestDetails .request-details-assignee {
    font-weight: bold;
    color: #003366;
}
#RequestDetails #restrict-dropdown {
    margin-top: 8px;
}
#RequestDetails #request-flag-dropdown {
    margin-top: 8px;
}
#CfrFormExport .historyLabel{
    font-weight: 600;
    padding: 2px !important;
}
#CfrFormExport .cfrAttributeValue{
    font-size: 15px;
    padding: 15px 2px;
}
#CfrFormExport .formLabel{
    padding: 15px 2px !important;
}