@font-face {
    font-family: "BCSans-Regular";
    src: url("../../../assets/FOI/fonts/BCSans-Regular.woff") format('woff');
}
@font-face {
    font-family: "BCSans-Bold";
    src: url("../../../assets/FOI/fonts/BCSans-Bold.woff") format('woff');
}

.foi-attached-documents-label {
    margin: 10px;
}
