@font-face {
    font-family: "BCSans-Regular";
    src: url("../../../assets/FOI/fonts/BCSans-Regular.woff") format('woff');
}
@font-face {
    font-family: "BCSans-Bold";
    src: url("../../../assets/FOI/fonts/BCSans-Bold.woff") format('woff');
}

.foi-review-request-container {
    
    width: 100%!important;
    height: 100%;
    background-color: #f1f1f1;    
    
}

.foi-review-container {
    padding-top: 30px;    
    width: 75%!important;
    position: relative;
    margin-left: auto!important;
    margin-right: auto!important;
    right: 0px;
    left: 0px;
    background-color: white;
    height: calc(95vh - 127px);
    // height: auto;
    // height: inherit; 
    overflow: scroll;
}

.foi-details-card {
    margin-top: 50px;
    box-shadow: none !important;
    border: 1px solid #dfdede !important;
    border-radius: 2px;
}
.foi-details-label {
    font-family: "BCSans-Regular";
    color: grey;
    padding-left: 15px;

}
.foi-details-row {
    display: flex;
    width: 100%;
}
.foi-details-col {
    display: block; // for additional
    //display: -webkit-box;
    align-items: flex-start; 
}

.MuiOutlinedInput-notchedOutline {
    border: 1px solid !important; 
    // color: #000000 !important;
}


.MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
    border-color: #f44336 !important;
}

// .PrivateNotchedOutline-legendNotched-5 {
//     font-family: "BCSans-Bold";
//     color: #000000 !important;
//     font-size: large !important;
// }

// .MuiOutlinedInput-root.Mui-error .PrivateNotchedOutline-legendNotched-5 {
//     // font-family: "BCSans-Bold";
//     color: #f44336 !important;
// }