@font-face {
    font-family: "BCSans-Regular";
    src: url("../../../assets/FOI/fonts/BCSans-Regular.woff") format('woff');
}
@font-face {
    font-family: "BCSans-Bold";
    src: url("../../../assets/FOI/fonts/BCSans-Bold.woff") format('woff');
}
.scrollable-page {
    position: inherit !important;    
}

#app {
    background-color: #f1f1f1 !important;
}

.foi-request-form {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 10px;
}
.foi-review-request-container {
    
    width: 100%!important;     
    
}

.foi-review-container {
    padding-top: 1px;    
    width: 75%!important;
    position: relative;
    margin-left: auto!important;
    margin-right: auto!important;
    right: 0px;
    left: 0px;
    background-color: white;
    height: calc(95vh - 127px);    
}

.foi-details-card {
    margin-top: 50px;
    box-shadow: none !important;
    border: 1px solid #dfdede !important;
    border-radius: 2px;
}
.foi-details-label {
    font-family: "BCSans-Regular";
    color: grey;
    padding-left: 15px;

}
.foi-details-row {
    display: flex;
    width: 100%;
}
.foi-details-col {
    display: block;    
    align-items: flex-start; 
}

.MuiOutlinedInput-notchedOutline {
    border: 1px solid !important;     
}


.MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
    border-color: #f44336 !important;
}
.MuiInputBase-root {
    font-family: "BCSans-Regular" !important;
}

.MuiFormLabel-root {
    font-family: "BCSans-Bold" !important;
    color: black !important;   
}

.MuiFormLabel-root.Mui-error {
    font-family: "BCSans-Bold" !important;
    color: #f44336 !important;

}

.PrivateNotchedOutline-legendLabelled-4 {
    font-size: 0.80rem !important;
}