

.foi-request-review-header-row1 {
    display: flex;
}
.foi-request-review-header-col1{
    display: block;
    
}
.foi-request-status {
   //font-family: "BCSans-Regular", sans-serif;
    background-color: black;
    color: white;
    width: fit-content;
    margin-top: 10px;    
    padding: 3px 25px;
    text-transform: capitalize;
}

.foi-request-daysremaining {
    //font-family: "BCSans-Regular", sans-serif;   
    width: fit-content;
    background-color: #008000;
    color: #FFFFFF;
    margin-top: 10px;    
    padding: 3px 25px;
    text-transform: capitalize;
}
.foi-request-review-header-col1-row {
    display: inline-flex;
    height: fit-content;
}

.foi-review-request-text {
   font-family: "BCSans-Bold", sans-serif!important;
    color: #036 ;
}

.foi-period-text {
   font-family: "BCSans-Bold", sans-serif!important;
    color: #036 ;
    padding-left: 10px;
    padding-right: 10px;

}
.foi-correspondence-text {
   font-family: "BCSans-Bold", sans-serif!important;
    color: #49648d;
}

.foi-assigned-to-container {
    margin-left: auto;
    display: inline-block;
}

.foi-assigned-to-inner-container {
    display: inline-block;
    margin-top: 5px;
    min-width: 350px;
    //margin-right: 8px;
}
.foi-assigned-to-inner-container .makeStyles-item-35 {
    padding-right: 24px !important;
}

.foi-assignee-dropdown {
    //display: inline-block;
    margin-top: 5px;
    min-width: 350px;
    float: right;
}

.axis-request-id {
    margin-top: 20px !important;
}

@media (max-width: 1242px) {
    .foi-request-review-header-col1-row {
        display:block;
    }
}

.consultation-alert-header-text {
    color: var(--typography-color-primary, #2D2D2D) !important;
    font-family: "BC Sans" !important;
    font-size: 32px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 54px !important; 
 }
.consultation-alert-text{
    color: var(--typography-color-secondary, #474543); 
    font-family: "BC Sans"; 
    font-size: 16px; 
    font-style: normal; 
    font-weight: 400; 
    line-height: 27.008px; 
    width: 510px; 
}
.consultation-alert{
    margin-top: 15px !important;
    border-radius: var(--layout-borderRadius-medium, 4px); 
    border: 1px solid var(--FOI-Process-FOI-Process-Consult, #9448BC); 
    background: #F9EEFF !important;
    margin-bottom: 15px !important;
    display: flex;
    justify-content: space-between;
    padding: var(--layout-padding-large, 24px)!important;
    overflow: hidden !important;
    width: 100% !important;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-icon {
    margin-right: 8px; 
    width: 32.5px !important;
    height: 37.917px !important;
}

.header-text {
    color: var(--typography-color-secondary, #474543) !important;
    font-family: "BC Sans" !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 27.008px !important; 
    width: 520px !important;
}

.request-flag-container{
    display: flex;
    margin-left: auto;
    justify-content: flex-end !important;
}

.consultation-alert .MuiAlert-message {
    width: 100% !important;
}