@font-face {
    font-family: "BCSans-Regular";
    src: url("../../../assets/FOI/fonts/BCSans-Regular.woff") format('woff');
}

.MuiAccordion-root {
    background-color: #eceaea !important;
    font-family: "BCSans-Regular" !important;
}