@font-face {
    font-family: "BCSans-Regular";
    src: url("../../../assets/FOI/fonts/BCSans-Regular.woff") format('woff');
}
@font-face {
    font-family: "BCSans-Bold";
    src: url("../../../assets/FOI/fonts/BCSans-Bold.woff") format('woff');
}
.foi-request-description-row {
    display: inline-flex;
}
.foi-request-description-textbox {   
    display: grid;
    margin-top: 10px;
}

.btn-description-history {
    float: right;
    text-decoration: underline !important;
}

.foi-request-description-history {
    width: 100%;
    padding-bottom: 20px;
}

.foi-date-range-h3 {
    font-family: "BCSans-Bold", sans-serif !important;
}

.foi-request-dates {
    display: flex;
    margin-top: -15px;
}
// #outlined-multiline-request-description {
//     width: 100%;
//     height: 100%;
// }

.bottombtn {
    border: 1px solid #38598A !important;
    background-color: #FFFFFF !important;
    color: #38598A !important;    
    margin-right: 20px;
    margin-top: 10px;
    position: relative;
    width: 30%;
    font-family: "BCSans-Bold", sans-serif;
}

.bottombtn-saverequestdetails {
    border: none;
    background-color: #38598A !important;
    color: #FFFFFF !important;    
    margin-right: 20px;
    margin-top: 10px;
    position: relative;
    width: 30%;
    font-family: "BCSans-Bold", sans-serif;
}


.foi-requestdescription-button-group {
    display: flex;
}


.has-error {
    color: #ff0000;
    text-align: right;
    margin: 0.5rem;
}

.no-personal-info{
    width: auto !important;
     padding-left: 3% !important;

  }