/* add css module styles here (optional) */
#Attachments{
  height: 100%;
  overflow-y: scroll;
  width: auto;
  background-color:white;
}

.section{
  flex-direction: column;
  overflow-x: hidden;;
  background-color: white;
      
  .addAttachmentBox{
    width:100%;
    margin-left:25px;
    margin-top:25px;
    padding-right:25px;
    padding-bottom:25px;

    button.addAttachment {
      float: right; 
      padding-top: 8px;
      padding-bottom: 8px;    
    }
  }
}

.displayAttachments{
  margin:25px;
  margin-top:10px;
}

.actionsBtn, .childActionsBtn{
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.actionsBtn{
  padding: 6px 12px;
}

.childActionsBtn{
  padding: 10px 10px;
}

.attachment-popup-arrow {
  display: none;
}

.attachment-popup-content {
  margin-top: -35px;
}

[role='tooltip'].attachment-popup-content {
  width: 150px!important;
  border: 1 px solid #d7d7d7!important;
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 0px!important;
}

.attachment-name {
  font-size: 15px;
  font-weight: 700;
  display: inline;
  padding-right: 15px;
}

.attachment-time, .attachment-owner {
  font-size: 13px;
  font-weight: 300;
  font-style: italic;
}
