/* add css module styles here (optional) */

.section{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;;
  background-color: white;
      
  .addAttachmentBox{
    width:100%;
    margin-left:25px;
    margin-top:25px;
    padding-right:25px;
    padding-bottom:25px;

    button.addAttachment {
      float: right; 
      padding-top: 8px;
      padding-bottom: 8px;    
    }
  }
}

.displayAttachments{
  margin:25px;
  margin-top:10px;
}

.actionsBtn{
  background-color: transparent;
  border: none;
  padding: 6px 12px;
  border-radius: 50%;
  cursor: pointer;

  // &:hover{
  //   outline:none;
  // }
  // &:focus {outline:0;}
}
