.addCorrespondence {
  width: 100%;
  max-width: 200px;
  margin: 0;
  font-family: BCSans-Bold, sans-serif !important;
  background: linear-gradient(to right, #38598A 80%, white 20%);
  .MuiFormLabel-root {
    color: #FFFFFF !important;
  }
}
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #38598A !important;
}

.previewEmail {
  float: right;
  button {
    width: fit-content !important;
    height: fit-content !important;
    padding: 3px 25px !important;
    margin-left: 1em;
  }
}

.contact-applicant-container {
  margin-top: 60px;
  margin-left: 1em;
  margin-right: 1em;
}

.search-grid-container {
  display: inline-block !important;
  margin: 20px 0 !important;
}

.search-grid {
  border-right: 2px solid #38598A;
  background-color: rgba(56,89,138,0.1);
}

.search-grid-buttons {
  margin-right: auto;
}

.search-icon {
  color: #38598A;
}

.correspondence-editor {
  border: 1px solid #003366 !important;
  border-radius: 8px;
  .ql-container.ql-snow {
    height: 200px;
    border: none
  }
}

#correspondence-editor-ql-toolbar {
  padding-right: 0;
}

.email-template-dropdown{
  margin-top: 8px !important;
  > div {
    > fieldset {
      > legend {
        width: 0;
      }
    }
  }
}

.template-list-item {
  border: ridge;
  border-right: ridge;
  border-bottom: none;
  cursor: pointer;
}
.template-list-item-last {
  border-bottom: ridge;
}

.email-attachment-item {
  background-color: #4e7095;
  color: white;
  margin: 10px 15px;
  padding: 5px 10px;
  i {
    float: right;
    font-size: 20px;
    margin-top: 2px;
  }
}

.preview-container {
  margin-left: 1em;
  margin-right: 1em;
}

.preview-frame {
  width: 100%;
  min-height: 500px;
  max-height: 900px;
  border: none;
  overflow: hidden;
}

.tooltip-floatRight {
  cursor: pointer;
  display: block;
  z-index: 2;
  position: absolute;
  right: -20px;
}

.tooltip-floatRight button{
  padding: 0px 20px 0px 0px !important;
  min-width: 0px !important;
}

.tooltip-preview {
  top: 470px;
}
