.search-button {
    background-color: #38598A;
    color: white;
    font-weight: bold;
    text-transform: none;
    // border-radius: 8px;
}

.selected-primary-applicant.MuiDataGrid-row.Mui-selected {
    background-color: red;
    &:hover {
        background-color: darkred; // optional, stops hover from overriding it too
    }
}