
@font-face {
  font-family: "BCSans-Bold";
  src: url("../../../assets/FOI/fonts/BCSans-Bold.woff") format('woff');
}
.footerstyle {
    background-color: #003366;
    color: #ffff;
    padding-top:15px;
    border-top: 2px solid #fcba19;
}

.footerstyle a   {
  font-family: 'BCSans-Bold';
  color: #ffff;
  text-decoration: none;
}
.footerstyle a:hover
{
  color: #ffff;
  text-decoration: none;
}

.footerstyle ul {
  list-style: none;
  padding-inline-start: unset;
}

.footerstyle li {
  padding-top:3px;
  padding-bottom: 3px;
}