

.footerstyle {
    background-color: #003366;
    color: #ffff;
    padding-top:15px;
}

.footerstyle a   {
  color: #ffff;
  text-decoration: none;
}
.footerstyle a:hover
{
  color: #ffff;
  text-decoration: none;
}

.footerstyle ul {
  list-style: none;
}

.footerstyle li {
  padding-top:3px;
  padding-bottom: 3px;
}