[role=tooltip].tooltip-content {
    width: 150px;
    border-radius: 0px;
    position: absolute;
    margin: 25px auto auto 15px
}

.tooltip-content {
    border: 1px solid #38598A;
    background-color: rgba(56,89,138,0.1);
}

.tooltip-arrow {
    // color: rgba(56,89,138,0.1);
    // stroke: #38598A;
    display: none;
}

.tooltipTitle {
    font-size: small;
    font-weight: bold;
}

.tooltipContent {
    font-size: smaller;
}