# GitHub Actions workflow for building and tagging the API image on PR
name: REQUEST MANAGEMENT API - Continuous Integration

on:
  pull_request:
    types: [opened, synchronize, ready_for_review] # Triggered by opened or changed pull requests.
    branches: [main]
    paths:
      - 'request-management-api/**' # Triggers on changes to files in the express-api/ directory.

jobs:
# Job for automated unit tests goes HERE

# Build the docker image, tag with pull request
  REQUEST-MANAGEMENT-API-IMAGE-BUILD:
    runs-on: ubuntu-latest
    steps:
  # Checkout repo
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

  # Login to BC Gov Openshift Image Repository via docker

      - name: Login to Openshift Docker
        run: |
          echo "${{ secrets.OPENSHIFT_SA_TOOLS_TOKEN }}" | docker login ${{ secrets.PUBLIC_IMAGE_REPOSITORY }}  -u ${{ secrets.OPENSHIFT_SA_NAME }} --password-stdin 

  # Build the Request Management API Image, Tag with Pull Request number
      - name: Build Request Management API Image
        working-directory: ./request-management-api
        run: |
          docker build -t ${{ secrets.PUBLIC_IMAGE_REPOSITORY }}/${{ secrets.OPENSHIFT_TOOLS_NAMESPACE }}/request-management-api:${{github.event.pull_request.number}} -f dockerfile.local .

  # Push Built Image to BC Gov Openshift Image Repository
      - name: Push Request Management API Image
        run: |
          docker push ${{ secrets.PUBLIC_IMAGE_REPOSITORY }}/${{ secrets.OPENSHIFT_TOOLS_NAMESPACE }}/request-management-api:${{github.event.pull_request.number}}

  REQUEST-MANAGEMENT-API-PR-COMMENT:
    needs: REQUEST-MANAGEMENT-API-IMAGE-BUILD
    runs-on: ubuntu-latest
    steps:
      - name: Comment on PR
        uses: thollander/actions-comment-pull-request@v3
        with:
          message: |
            **Tag:** `${{ github.event.pull_request.number }}`  
            **Image:** `${{ secrets.PUBLIC_IMAGE_REPOSITORY }}/${{ secrets.OPENSHIFT_TOOLS_NAMESPACE }}/request-management-api:${{ github.event.pull_request.number }}`
